title Galerie

p Cette page permettra d'avoir une liste des photos et de pouvoir les classer en album.
|
p Il y aura un accès à une page d'upload de photos.
|
a(href='/upload') Le fameux accès !
|
p Lorsque l'on sélectionne une photo, elle apparait dans la page de visionnage.
|
a(href='/visionneuse') Lien vers la visionneuse
|
p On devra pouvoir sélectionner un album et pouvoir parcourir les photos qu'il contient.
|
a(href='/album') Lien vers l'album