title Galerie

p Cette page servira de page d'accueil.
|
p Cette page devrait contenir le login de l'utilisateur pour accéder à ses photos.
|
p Lors de la validation de la connexion l'utilisateur sera envoyé vers la page qui liste les photos et permet de faire des albums.
|
a(href='/listephoto') Lien vers la liste des photos