title Galerie

p Cette page permettra de visionner une photo et de la partager en direct.
|
p On aura un petit bouton permettant de partager la photo en cours de visionnage à un autre utilisateur.
button Partager
|
p N'oublions pas de pouvoir revenir à la liste.
|
a(href='/listephoto') Retour à la liste des photos